include index.pug
h1 Productos
table(class='table') 
    thead 
        tr 
            th Producto
            th Precio
            th Imagen
    tbody 
        each pr in data 
            tr
                td= pr.title
                td= pr.price 
                td= pr.thumbnail
a(href="/") Cargar productos